.macro {
    display: flex;
    flex-direction: column;

    .macrocontainer {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #FBFBFB;
        width: 258px;
        height: 124px;
        margin: 5px 10px;

        .macrotext {
            h2 {
                font-weight: 700;
                font-size: 20px;
                margin-bottom: 7px;
            }

            p {
                font-weight: 500;
                font-size: 14px;
                margin-top: 0;
            }
        }

        .simple {
            margin-right: 25px;
        }

        .imgcal {
            width: 60px;
            height: 60px;
            background-color: rgba(255, 0, 0, 0.07);
            border-radius: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 18px;

            img {
                width: 15.8px;
                height: 20px;
            }
        }

        .imgprot {
            width: 60px;
            height: 60px;
            background-color: rgba(74, 184, 255, 0.07) ;
            border-radius: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 18px;

            img {
                width: 15.8px;
                height: 20px;
            }
        }

        .imgglu {
            width: 60px;
            height: 60px;
            background-color: rgba(249, 206, 35, 0.07);
            border-radius: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 18px;

            img {
                width: 15.8px;
                height: 20px;
            }
        }

        .imglip {
            width: 60px;
            height: 60px;
            background-color: rgba(253, 81, 129, 0.07);
            border-radius: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 18px;

            img {
                width: 15.8px;
                height: 20px;
            }
        }
    }
}

@media (max-width: 1300px) {
    .macro {
        flex-direction: row;
        width: 80%;
        
        .macrocontainer {
            width: 200px;
        }
    }
}