.navbarside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(2, 2, 3, 1);
    width: 117px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    margin-right: 500px;

    .iconcontainer {
        display: flex;
        background-color: white;
        width: 64px;
        height: 64px;
        border-radius: 6px;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    p {
        font-weight: 500;
        font-size: 12px;
        color: white;
        width: 300px;
        transform: rotate(-90deg);
        margin-bottom: 120px;
    }
}