.radialprogress {
    width: 258px;
    height: 253px;
    position: relative;
    background-color: rgba(251, 251, 251, 1);
    h3 {
        position: absolute;
        font-weight: 600;
        font-size: 15px;
    }

    .piechart {
        position: relative;
    }

    .text {
        position: absolute;
        left: 90px;
        top: 80px;

        h2 {
            font-style: normal;
            font-weight: bold;
            font-size: 26px;
            width: 100px;
            margin: 0;
        }

        p {
            width: 100px;
            margin: 0;
            font-size: 16px;
            font-weight: 500;
        }
    }
}