.welcome {
    
    h1 {
        font-weight: 600;
        font-size: 48px;
        margin-top: 68px;

        span {
            color: red;
        }
    }

    p {
        font-weight: 400;
        font-size: 18px;
    }
}